{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/_tests_/**/*.*",
    "src/**/interface.ts",
    "src/interfaces/**/*.*",
    "src/**/*.test.ts",
    "src/**/[a-z]*.ts",
    "src/MetaSlider.ts"
  ]
}
