.panel {
  color: #024C68;
  margin: 10px;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  justify-items: end;

  &__number {
    display: flex;
    height: 30px;
    align-items: center;
  }

  &__text {
    font-size: 18px;
    padding-right: 10px;
    margin: 0px;
  }

  &__input {
    border: 1px solid #226078;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    color: #024C68;

    &:disabled {
      opacity: 0.2;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    visibility: hidden;
    width: 0px;
    margin: 0px;

    &:checked+.meta-slider__box {
      background-color: #0776A0;

      &:before {
        transform: translateX(25px);
        background-color: #FFF;
      }
    }
  }

  &__box {
    position: relative;
    cursor: pointer;
    border: 1px solid #226078;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50px;
    height: 25px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      background-color: #226078;
      border-radius: 5px;
      top: 2px;
      left: 2px;
    }
  }
}