.meta-slider 
  .meta-slider__panel
    form.meta-slider__form
      label.meta-slider__number
        p.meta-slider__text min
        input.meta-slider__input(type="number" name="min" value="0")
    form.meta-slider__form
      label.meta-slider__number
        p.meta-slider__text max
        input.meta-slider__input(type="number" name="max" value="50")
    form.meta-slider__form
      label.meta-slider__number
        p.meta-slider__text step
        input.meta-slider__input(type="number" name="step" value="5" min="0")
        form.meta-slider__form
    form.meta-slider__form
      label.meta-slider__number
        p.meta-slider__text from
        input.meta-slider__input(type="number" name="from" value="10")
        form.meta-slider__form
    form.meta-slider__form
      label.meta-slider__number
        p.meta-slider__text to
        input.meta-slider__input(type="number" name="to" value="40")
    form.meta-slider__form
      label.meta-slider__toggle
        p.meta-slider__text vertical
        input.meta-slider__checkbox(type="checkbox" name="vertical")
        span.meta-slider__box
    form.meta-slider__form
      label.meta-slider__toggle
        p.meta-slider__text tip
        input.meta-slider__checkbox(type="checkbox" name="tip")
        span.meta-slider__box
    form.meta-slider__form
      label.meta-slider__toggle
        p.meta-slider__text range
        input.meta-slider__checkbox(type="checkbox" name="range")
        span.meta-slider__box
