.meta-slider {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  padding: 10px;
  box-sizing: border-box;

  &_horizontal {
    flex-direction: column;
    width: inherit;
    height: max-content;
    flex-direction: column;
    padding-top: 30px;

    .meta-slider {
      &__track {
        width: 100%;
        height: 10px;
      }

      &__scale {
        width: 100%;
        height: 40px;
      }

      &__scale-item {
        grid-template-rows: 1fr 1fr;
      }

      &__line {
        text-align: center;
      }

      &__interval {
        height: 10px;
        margin: 0px 1px;
      }

      &__handle {
        top: -5px;
      }

      &__tip {
        bottom: 20px;
        width: 60px;
        right: -20px;
        text-align: center;
      }
    }
  }

  &_vertical {
    height: inherit;
    width: max-content;
    flex-direction: row;
    padding: 0px 25px;

    .meta-slider {
      &__track {
        width: 10px;
        height: 100%;
      }

      &__scale {
        width: 70px;
        height: 100%;
      }

      &__scale-item {
        grid-template-columns: 20px 1fr;
      }

      &__value {
        left: 20px;
        bottom: 0px;
      }

      &__interval {
        width: 10px;
        margin: 1px 0px;
      }

      &__handle {
        left: -5px;
      }

      &__tip {
        right: 20px;
      }
    }
  }

  &__track {
    display: block;
    width: 100%;
    height: 10px;
    user-select: none;
    position: relative;
    background-color: #62B1D0;
    cursor: pointer;
  }

  &__interval {
    position: absolute;
    z-index: 9;
    background-color: #024C68;
  }

  &__scale {
    width: 100%;
    height: 40px;
      
  }

  &__scale-row {
    user-select: none;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  &__scale-item {
    display: grid;
    position: absolute;
  }

  &__value {
    width: min-content;
    text-align: center;
    cursor: pointer;
  }

  &__handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #226078;
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }

  &__tip {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    text-align: center;
  }
}