.meta-slider {
  padding: 10px;
  box-sizing: border-box;
  display: grid;

  &_horizontal {
    grid-template-rows: min-content min-content;
    padding-top: 30px;
    width: inherit;

    .meta-slider {
      &__track {
        width: inherit;
        height: 10px;
      }

      &__scale {
        width: 100%;
      }

      &__interval {
        height: 10px;
        margin: 0px 1px;
      }

      &__handle {
        top: -5px;
      }

      &__tip {
        bottom: 20px;
      }
    }
  }

  &_vertical {
    grid-template-columns: max-content max-content;
    height: inherit;
    padding: 0px 25px;

    .meta-slider {
      &__track {
        width: 10px;
        height: inherit;
      }

      &__scale {
        height: 100%;
      }

      &__interval {
        width: 10px;
        margin: 1px 0px;
      }

      &__handle {
        left: -5px;
      }

      &__tip {
        right: 20px;
      }
    }
  }

  &__track {
    user-select: none;
    position: relative;
    background-color: #62B1D0;
  }

  &__interval {
    position: absolute;
    z-index: 9;
    background-color: #024C68;
  }

  &__scale {
    user-select: none;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 20px;
  }

  &__value {
    width: 1.5em;
    position: absolute;
    cursor: pointer;
    text-align: center;
  }

  &__handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #226078;
    position: absolute;
    z-index: 10;
  }

  &__tip {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    line-height: 20px;
  }
}