.meta-slider {
  .slider {
    margin: 30px;
    display: grid;

    &__track {
      -moz-user-select: -moz-none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      position: relative;
      background-color: greenyellow;
    }

    &__interval {
      position: absolute;
      z-index: 9;
      background-color: rgb(74, 122, 10);
    }

    &__scale {
      -moz-user-select: -moz-none;
      -o-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      line-height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      padding: 20px 0px;
    }

    &__value {
      width: 1.5em;
      position: absolute;
      cursor: pointer;
      text-align: center;
    }

    &__handle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: green;
      position: absolute;
      z-index: 10;
    }

    &__tip {
      background-color: lightgray;
      font-size: 14px;
      position: absolute;
    }
  }
}