.panel {
  color: #024C68;
  margin: 10px;

  &__form {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }
}