include ../input/input.pug

mixin panel()
  .panel.js-panel
    .panel__form
      +input({type: 'number', text: 'min', name: 'min'})
      +input({type: 'number', text: 'max', name: 'max'})
      +input({type: 'number', text: 'step', name: 'step'})
      +input({type: 'number', text: 'from', name: 'from'})
      +input({type: 'number', text: 'to', name: 'to'})
      +input({type: 'checkbox', text: 'vertical', name: 'isVertical'})
      +input({type: 'checkbox', text: 'range', name: 'withRange'})
      +input({type: 'checkbox', text: 'tip', name: 'hasTip'})