.main {
  &__slider {
    box-sizing: border-box;
    margin: 20px auto 70px;

    &__item {
      &_is-second {
        width: 70%;
      }
    }

    &__item {
      &_is-third {
        width: 85%;
      }
    }
  }
}