.main {
  &__slider {
    box-sizing: border-box;
    margin: 20px auto 70px;

    &__item {
      &_is-second {
        width: 70%;

        @media screen and (max-width: 700px) {
          width: 100%;
        }
      }
    }

    &__item {
      &_is-third {
        width: 85%;

        @media screen and (max-width: 700px) {
          width: 100%;
        }
      }
    }
  }
}