include ../slider/slider.pug

mixin main()  
  .main.js-main
    .main__slider.js-main__slider
      .main__slider__item.js-main__slider__item.main__slider__item_is-first
        +slider({ min: -2, max: 6, step: 0.257, from: 3, to: 50 })
      .main__slider__item.js-main__slider__item.main__slider__item_is-second
        +slider({ min: 1000, max: 2100, from: 1300, isVertical: 'true' })         
      .main__slider__item.js-main__slider__item.main__slider__item_is-third
        +slider({ withRange: 'false' })