.meta-slider {
  .settings {
    display: grid;
    grid-auto-flow: row;

    form {
      width: min-content;
    }

    label {
      display: flex;
      height: 30px;
      margin: 10px;
      align-items: center;
    }

    input[type=number] {
      width: 40px;
      margin: 0px 10px;
    }

    &__button {
      margin: 100px;
    }
  }
}