.slider {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-column-gap: 30px;
  margin: 50px;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    margin: 10px;
  }

  &__container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 30% 1fr;

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
    }
  }

  &__text {
    display: flex;
    flex-direction: row;
  }

  &__root {
    height: 100%;
    width: 100%;
  }
}