.input {
  &__label {
    display: flex;
    height: 30px;
    align-items: center;
  }

  &__field {
    &_with-number {
      border: 1px solid #226078;
      box-sizing: border-box;
      border-radius: 5px;
      width: 50px;
      height: 25px;
      color: #024C68;

      &:disabled {
        opacity: 0.2;
      }
    }

    &_with-checkbox {
      visibility: hidden;
      width: 0px;
      margin: 0px;

      &:checked+.input__box {
        background-color: #0776A0;

        &:before {
          transform: translateX(25px);
          background-color: #FFF;
        }
      }
    }
  }

  &__text {
    font-size: 18px;
    padding-right: 10px;
    margin: 0px;
  }

  &__box {
    position: relative;
    cursor: pointer;
    border: 1px solid #226078;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50px;
    height: 25px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      background-color: #226078;
      border-radius: 5px;
      top: 2px;
      left: 2px;
    }
  }
}