.body__container {
  display: grid;
  padding: 10px;
  box-sizing: border-box;

  &_horizontal {
    width: 100%;
    grid-template-rows: min-content max-content;
  }

  &_vertical {
    height: 100%;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
  }

  &_first {
    width: 500px;
    height: 500px;
    margin: 0px auto;
  }

  &_second {
    width: 400px;
    height: 400px;
  }

  &_third {
    width: 320px;
    height: 320px;
  }
}