doctype html 
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Slider</title>
  body.body
    .body__container.body__container_first  
      .body__slider
      include panel/panel.pug
    .body__container.body__container_second
      .body__slider
      include panel/panel.pug
    .body__container.body__container_third
      .body__slider
      include panel/panel.pug


