.body {
  &__slider {
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 50px;

    &_first {
      width: 500px;
      height: 500px;
      margin: 30px auto;
    }

    &_second {
      width: 400px;
      height: 400px;
      margin: 30px auto;
    }

    &_third {
      width: 320px;
      height: 320px;
      margin: 30px auto;
    }
  }
}