.body__slider {
  &_first {
    width: 500px;
    height: 500px;
    margin: 0px auto;
  }

  &_second {
    width: 400px;
    height: 400px;
  }

  &_third {
    width: 320px;
    height: 320px;
  }
}