.container {
  width: 500px;
  background-color: lightblue;
  margin: 10em auto;
}

.slider {
  &__track {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: greenyellow;
    margin: 10px 0px;
  }

  &__interval {
    position: absolute;
    height: 5px;
    background-color: rgb(74, 122, 10);
  }

  &__scale {
    width: 100%;
    border: 1px dotted red;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  &__value {
    width: min-content;
    position: relative;
  }

  &__handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    z-index: 10;

    &__first {
      left: 0;
    }

    &_second {
      right: 0;
    }
  }
}
