.container {
  width: 500px;
  background-color: rgb(240, 241, 226);
  margin: 10em auto;
}

.slider {
  &__track {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    width: 100%;
    height: 10px;
    background-color: greenyellow;
    margin: 30px 0px;
  }

  &__interval {
    position: absolute;
    height: 10px;
    background-color: rgb(74, 122, 10);
  }

  &__scale {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

  }

  &__value {
    width: min-content;
    position: relative;
    cursor: pointer;
  }

  &__handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    z-index: 10;
    top: -5px;

    &__first {
      left: 0;
    }

    &_second {
      right: 0;
    }
  }
}