.meta-slider {
  display: grid;
  width: 500px;
  background-color: rgb(240, 241, 226);
  margin: 5em auto;

  &_horizontal {
    grid-template-rows: min-content min-content;
  }

  &_vertical {
    grid-template-columns: min-content min-content;
  }
}