.meta-slider {
  display: grid;
  padding: 10px;
  box-sizing: border-box;

  &_horizontal {
    width: 100%;
    grid-template-rows: min-content max-content;

    .slider {
      grid-template-rows: min-content min-content;
      padding-top: 30px;
      max-width: 100%;

      &__track {
        width: 100%;
        height: 10px;
      }

      &__scale {
        width: 100%;
      }

      &__interval {
        height: 10px;
        margin: 0px 1px;
      }

      &__handle {
        top: -5px;
      }

      &__tip {
        bottom: 20px;
      }
    }
  }

  &_vertical {    
    height: 100%;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;

    .slider {
      grid-template-columns: max-content max-content;
      height: 100%;
      padding: 0px 15px;

      &__track {
        width: 10px;
        height: 100%
      }

      &__scale {
        height: 100%;
      }

      &__interval {
        width: 10px;
        margin: 1px 0px;
      }

      &__handle {
        left: -5px;
      }

      &__tip {
        right: 20px;
      }
    }
  }
}