mixin input({type='number', text='min', name='min' })
  .input.js-input 
    .input__text= text
    .input__label      
      input.input__field.js-input__field(class=`input__field_with-${type}` type=type,
      name=name)
      if type === 'checkbox'
        span.input__box